@import 'normalize.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*!
 * These WOFF/WOFF2 files are provided under the SIL Open Font License version 1.1
 * For more details, see WOFF extended metadata or https://opensource.org/licenses/OFL-1.1
 */
@import './styles/font/subset/normal.css';
@import './styles/font/subset/bold.css';

body {
  font-family: '源暎エムゴ', sans-serif;
}

.font-awesome {
  height: 1em;
  vertical-align: -0.125em;
  width: 1em;
}
